In [1]:
# Import Dependencies
import pandas as pd

In [2]:
january_data = "Resources/January2021.csv"
february_data = "Resources/February2021.csv"

In [3]:
january_df = pd.read_csv(january_data)
february_df = pd.read_csv(february_data)

In [4]:
# print january_df
january_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [5]:
# print february_df
february_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,683,2021-02-01 00:08:57.2940,2021-02-01 00:20:21.2680,3483,Montgomery St,40.719420,-74.050990,3203,Hamilton Park,40.727596,-74.044247,40517,Subscriber,1958,1
1,2850,2021-02-01 00:21:12.4910,2021-02-01 01:08:42.9560,3203,Hamilton Park,40.727596,-74.044247,3275,Columbus Drive,40.718355,-74.038914,40517,Subscriber,1958,1
2,545,2021-02-01 00:53:08.7500,2021-02-01 01:02:14.3890,3220,5 Corners Library,40.734961,-74.059503,3212,Christ Hospital,40.734786,-74.050444,44907,Customer,1996,1
3,473,2021-02-01 00:59:10.1110,2021-02-01 01:07:03.8480,3220,5 Corners Library,40.734961,-74.059503,3210,Pershing Field,40.742677,-74.051789,29727,Subscriber,1987,2
4,748,2021-02-01 01:01:29.4990,2021-02-01 01:13:57.8940,3210,Pershing Field,40.742677,-74.051789,3269,Brunswick & 6th,40.726012,-74.050389,45550,Subscriber,1962,1

In [6]:
# Combine the data into a single dataset.  
citi_bike_df = pd.merge(january_df, february_df, how="left")
citi_bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717732,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [1]:
# remove index
citi_bike_df.style.hide_index()

NameError: name 'citi_bike_df' is not defined

In [8]:
#convert df to csv
citi_bike_df.to_csv("Resources/citi_bikeData.csv", index=False)